@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=DM+Serif+Display:ital@0;1&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
}
* a {
  text-decoration: none;
  color: white;
}
.dark p {
  color: rgba(255, 255, 255, 1);
}

body {
  margin: 0;
  padding: 0;
  background-color: rgba(243, 229, 216, 1);
}
body.dark {
  background-color: black;
}
/*-----------------------------------*/
header {
  padding: 30px 20px 20px 20px;
}
header nav {
  background-color: rgba(37, 85, 56, 1);
  color: white;
  display: flex;
  align-items: center;
  padding: 15px 20px;

  border-radius: 10px;
}

nav .left {
  flex: 1;
}
nav .left h2 {
  font-family: "DM Serif Display", serif;
}

nav .right {
  flex: 1;
  text-align: right;
  padding-right: 20px;
}
nav .right h2 {
  font-family: "DM Sans";
}

nav button {
  width: 34px;
  height: 34px;
  background: transparent;
}
/*-----------------------------------*/

main {
  max-width: 1100px;
  margin: 20px auto;
}
#image img {
  width: 200px;
  padding: 20px;
}

#grid-container {
  display: grid;
  grid-template-columns: 70% 30%;
  grid-template-rows: 1fr;
  grid-template-areas: " #left  #rightup";
  gap: 20px;
}
/*---------------Lado izquierdo------*/
#left {
  background-color: rgba(255, 255, 255, 1);
  border-radius: 10px;
}
.dark #left {
  background-color: rgba(47, 47, 47, 1);
}
#image {
  display: flex;
  margin-bottom: -20px;
  border-radius: 10px;
}
#left #image img {
  position: relative;
  width: 100%;
  height: 50vh;
  display: flex;
  align-items: center;
  object-fit: cover;
  border-radius: 25px;
}
#box2 {
  margin-top: 10px;
  padding: 0px 10px 0px 20px;
}
#box2 > h1 {
  font-family: "DM Serif Display";
  color: rgba(126, 67, 51, 1);
  padding-bottom: 10px;
}
.dark #box2 > h1 {
  color: rgba(255, 255, 255, 1);
}
#box2 > p {
  font-family: "DM Sans";
  color: black;
}
.dark #box2 > p {
  color: rgba(255, 255, 255, 1);
}
#box4 div {
  margin: 20px;
  padding: 30px;
  border-radius: 10px;
  background-color: #fff7fc;
  border-radius: 10px;
}
.dark #box4 div {
  background-color: rgba(78, 77, 78, 1);
}
#box4 h2 {
  color: rgba(126, 67, 51, 1);
  padding-bottom: 10px;
}
.dark #box4 h2 {
  color: rgba(255, 255, 255, 1);
}
#box4 ul li {
  font-family: "DM Sans";
  color: black;
  padding-bottom: 5px;
}
.dark #box4 ul li {
  color: rgba(255, 255, 255, 1);
}
#box6 {
  padding: 0px 10px 30px 20px;
  display: flex;
  flex-direction: column;
  margin-top: -0px;
  border-end-end-radius: 10px;
}
#box6 > h2 {
  font-family: "DM Serif Display";
  color: rgba(126, 67, 51, 1);
  padding-bottom: 10px;
}
.dark #box6 > h2 {
  color: rgba(255, 255, 255, 1);
}
#box6 > ol li {
  font-family: "DM Sans";
  color: black;
}
.dark #box6 > ol li {
  color: rgba(255, 255, 255, 1);
}
/*---------------Lado derecho---------------------*/

#box1 h2 {
  color: rgba(126, 67, 51, 1);
  padding: 20px;
}
.dark #box1 h2 {
  color: rgba(255, 255, 255, 1);
}
#box1 ul li {
  font-family: "DM Sans";
  color: black;
}
.dark #box1 ul li {
  color: rgba(255, 255, 255, 1);
}
#box1-3 {
  background-color: rgba(255, 255, 255, 1);
  border-radius: 10px;
}
.dark #box1-3 {
  background-color: rgba(47, 47, 47, 1);
}
#box3 > h2 {
  color: rgba(126, 67, 51, 1);
  padding: 20px;
}
.dark #box3 .nutrition,
.dark #box3 .right,
.dark #box3 > h2 {
  color: rgba(255, 255, 255, 1);
}
#box3 .nutrition {
  width: 100%;
  font-family: "DM sans";
  color: black;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
}

#box3 .row {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid rgba(126, 67, 51, 1);
  padding: 10px 0;
}
.dark #box3 .row {
  border-bottom: 1px solid rgba(255, 255, 255, 1);
}
#box3 .left {
  width: 50%;
  text-align: left;
}

#box3 .right {
  width: 50%;
  text-align: right;

  color: rgba(126, 67, 51, 1);
}
#box5 {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(255, 255, 255, 1);
  margin-top: 20px;
  padding: 10px;
  border-radius: 10px;
}
.dark #box5 {
  background-color: rgba(47, 47, 47, 1);
}
#box5 > div {
  margin: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.image-box5 {
  width: 100px;
  padding-left: 5px;
  border-radius: 10px;
  padding-right: 5px;
}
#Omellete {
  height: 50px;
  display: flex;
  align-items: center;
  object-fit: cover;
  width: 110px;
}
.name-box5,
.para-box5 {
  width: 100%;
  margin: 5px;
}
a .name-box5 {
  color: black;
}
#box5 h2 {
  color: rgba(126, 67, 51, 1);
  padding-right: 150px;
  padding-top: 10px;
}
.dark #box5 h2 {
  color: rgba(255, 255, 255, 1);
}
.dark #box5 a h3 {
  color: rgba(255, 255, 255, 1);
}
#box7 {
  padding-top: 20px;
}
#box7 .comentario {
  width: auto;
  margin: 0 auto;
  padding: 30px;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 1);
}
.dark #box7 .comentario {
  background-color: rgba(47, 47, 47, 1);
}
#box7 .comentario h2 {
  margin-top: 0;
  color: rgba(126, 67, 51, 1);
  padding-bottom: 10px;
}
.dark #box7 .comentario h2 {
  color: rgba(255, 255, 255, 1);
}
#box7 textarea {
  width: 100%;
  height: 120px;
  margin-bottom: 10px;
  padding: 5px;
  border: 1px solid black;
  border-radius: 3px;
}
#box7 button {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: rgba(37, 85, 56, 1);
  color: #fff;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}
footer {
  background-color: rgba(37, 85, 56, 1);
  color: white;
  display: flex;
  align-items: center;
  padding: 15px 20px;

  border-radius: 10px;
  margin: 60px 20px 0px 20px;
}
footer a {
  color: white;
}
footer .le {
  flex: 1;
}
footer .le h2 {
  font-family: "DM Serif Display", serif;
}

footer .ri {
  flex: 1;
  text-align: right;
  padding-right: 20px;
}
footer .ri h2 {
  font-family: "DM Sans";
}
@media (max-width: 990px) {
  #grid-container {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
      " #left "
      " #rightup";
    gap: 20px;
  }
  #box5 > div {
    margin: 10px;
  }
  #box5 {
    display: flex;
    flex-direction: column;
    align-items: normal;
    background-color: rgba(255, 255, 255, 1);
    margin-top: 20px;
    padding: 10px;
    border-radius: 10px;
  }
}
@media (max-width: 500px) {
  #grid-container {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 1fr 1000px;
    grid-template-areas:
      " #left "
      " #rightup";
    gap: 20px;
  }
}