@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=DM+Serif+Display:ital@0;1&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
}
* a {
  text-decoration: none;
  color: rgba(126, 67, 51, 1);
}
body {
  margin: 0;
  padding: 0;
  background-color: rgba(243, 229, 216, 1);
}
header {
  padding: 30px 20px 20px 20px;
}
header nav {
  background-color: rgba(37, 85, 56, 1);
  color: white;
  display: flex;
  align-items: center;
  padding: 15px 20px;
  
  border-radius: 10px;
}
header nav a {
  color: white;
}

nav .left {
  flex: 1;
}
nav .left h2 {
  font-family: "DM Serif Display", serif;
}

nav .right {
  flex: 1;
  text-align: right;
  padding-right: 20px;
}
nav .right h2 {
  font-family: "DM Sans";
}

nav button {
  width: 34px;
  height: 34px;
  background: transparent;
}
main {
  max-width: 1000px;
  margin: 0 auto;
  margin-top: 10px;
  padding-bottom: 50px;
}
#title {
  position: relative;
  background-image: url(../Images/Omellete);
  width: 100%;
  height: 50vh;
  display: flex;
  align-items: center;
  background-size: cover;
  background-position: center;
  border-radius: 10px;
  opacity: 75%;
}
#title h1 {
  font-family: DM sans-serif;
  color: white;
  width: 448px;
  height: 122px;
  top: 229px;
  padding-left: 50px;
}
main #text {
  color: rgba(126, 67, 51, 1);
  padding-top: 30px;
  padding-bottom: 30px;
  font-family: "DM Serif Display", serif;
}
#grid-container {
  width: 100%; /* VW -> Viewport Width */
  /*height: 100vh; /* VH -> Viewport Height */
  margin: 0 auto;
  gap: 20px;

  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas:
    " #one #two #three "
    " #four #five #six";
}

#one #box1 img {
  position: relative;
  width: 100%;
  height: 30vh;
  display: flex;
  align-items: center;
  object-fit: cover;
}
#one #box1 {
  background-color: white;
  padding: 10px;
  border-radius: 10px;
}
#one #box1 h1 {
  color: rgba(126, 67, 51, 1);
  padding: 10px;
}
#one #box1 ul li {
  font-family: "DM Sans";
}
#two #box2 img {
  position: relative;
  width: 100%;
  height: 30vh;
  display: flex;
  align-items: center;
  object-fit: cover;
}
#two #box2 {
  background-color: white;
  padding: 10px;
  border-radius: 10px;
}
#two #box2 h1 {
  color: rgba(126, 67, 51, 1);
  padding: 10px;
}
#two #box2 ul li {
  font-family: "DM Sans";
}
#three #box3 img {
  position: relative;
  width: 100%;
  height: 30vh;
  display: flex;
  align-items: center;
  object-fit: cover;
}
#three #box3 {
  background-color: white;
  padding: 10px;
  border-radius: 10px;
}
#three #box3 h1 {
  color: rgba(126, 67, 51, 1);
  padding: 10px;
}
#three #box3 ul li {
  font-family: "DM Sans";
}
#four #box4 img {
  position: relative;
  width: 100%;
  height: 30vh;
  display: flex;
  align-items: center;
  object-fit: cover;
}
#four #box4 {
  background-color: white;
  padding: 10px;
  border-radius: 10px;
}
#four #box4 h1 {
  color: rgba(126, 67, 51, 1);
  padding: 10px;
}
#four #box4 ul li {
  font-family: "DM Sans";
}
#five #box5 img {
  position: relative;
  width: 100%;
  height: 30vh;
  display: flex;
  align-items: center;
  object-fit: cover;
}
#five #box5 {
  background-color: white;
  padding: 10px;
  border-radius: 10px;
}
#five #box5 h1 {
  color: rgba(126, 67, 51, 1);
  padding: 10px;
}
#five #box5 ul li {
  font-family: "DM Sans";
}
#six #box6 img {
  position: relative;
  width: 100%;
  height: 30vh;
  display: flex;
  align-items: center;
  object-fit: cover;
}
#six #box6 {
  background-color: white;
  padding: 10px;
  border-radius: 10px;
}
#six #box6 h1 {
  color: rgba(126, 67, 51, 1);
  padding: 10px;
}
#six #box6 ul li {
  font-family: "DM Sans";
}

footer {
  background-color: rgba(37, 85, 56, 1);
  color: white;
  display: flex;
  align-items: center;
  padding: 15px 20px;
  
  border-radius: 10px;
  margin: 20px 20px 0px 20px;
}
footer a {
  color: white;
}
footer .left {
  flex: 1;
}
footer .left h2 {
  font-family: "DM Serif Display", serif;
}

footer .right {
  flex: 1;
  text-align: right;
  padding-right: 20px;
}
footer .right h2 {
  font-family: "DM Sans";
}
@media (max-width: 1850px) {
  header nav {
    max-width: 2000px;
  }
}
